@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* body {
  @apply bg-primary text-black;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @apply bg-[#0C616E] text-white p-2 mt-2;
} */

input,
select {
  @apply p-1 shadow appearance-none border-primary border-[1px] rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline;
}
.singIn{
  @apply bg-[#0C616E]
}
.login-page-container{
  @apply bg-[#0B8B9D]
}
.loginText{
  @apply left-[-3rem] text-[#1E1E1E]
}
